@import url("https://fonts.googleapis.com/css2?family=Rethink+Sans:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  margin: 0px;  
  padding: 0px;
  font-family: "Rethink Sans", sans-serif;
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
  background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a {
  margin: 0px;
  padding: 0px;
}
a{
  text-decoration: none;
}
button{
  padding: 0px;
}
@media (min-width: 320px) and (max-width: 435px) {
  * {
    max-width: 100%;
  }
}
