.audit-support-section {
  width: 100%;
  padding: 60px 70px;
  background: #f0f0f0;
  @media (max-width: 1280px) {
    padding: 60px 40px;
  }
  @media (max-width: 1180px) {
    padding: 40px 20px;
  }
  @media (max-width: 768px) {
    padding: 40px 16px;
  }
  .audit-support-left-right-section {
    display: flex;
    gap: 100px;
    .audit-support-left-section {
      h6 {
        font-weight: 600;
        font-style: SemiBold;
        font-size: 14px;
        line-height: auto;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #000000;
      }
      h2 {
        font-weight: 400;
        font-style: Regular;
        font-size: 44px;
        line-height: 62px;
        letter-spacing: -1.8px;
        color: #111111;
        margin-top: 20px;
      }
    }
    .audit-support-right-section {
      width: 60%;
      .right-content {
        .all-tabs {
          display: flex;
          flex-wrap: wrap;
          gap: 20px;
          .tab {
            height: 50px;
            padding: 12px 20px;
            border-radius: 40px;
            border: 1px solid #b8b8b8;
            h5 {
              font-weight: 400;
              font-style: Regular;
              font-size: 18px;
              line-height: auto;
              letter-spacing: 0%;
              color: #333333;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  .audit-support-section {
    .audit-support-left-right-section {
      flex-direction: column;
      align-items: start;
      gap: 20px;
      .audit-support-left-section {
        h6 {
          font-size: 14px;
        }
        h2 {
          font-size: 38px;
          line-height: 44px;
          margin-top: 16px;
        }
        @media (max-width: 768px) {
          h6 {
            font-size: 12px;
          }
          h2 {
            font-size: 26px;
            line-height: 33px;
          }
        }
      }
      .audit-support-right-section {
        width: 100%;
        .right-content {
          .all-tabs {
            gap: 14px;
            .tab {
              height: 40px;
              padding: 12px 20px;
              border-radius: 30px;
              h5 {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}
