.why-swenta-section {
  width: 100%;
  background: #152644;
  padding: 60px 80px;
  @media (max-width: 1280px) {
    padding: 60px 40px;
  }
  @media (max-width: 1180px) {
    padding: 40px 20px;
  }
  .why-swenta-left-right-section {
    display: flex;
    align-items: center;
    gap: 40px;
    .why-swenta-left-section {
      .left-image {
        width: 650px;
        height: 450px;
        border-radius: 10px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .why-swenta-right-section {
      h6 {
        font-weight: 600;
        font-style: SemiBold;
        font-size: 14px;
        line-height: auto;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #F2F2F7;
      }
      h3 {
        font-weight: 400;
        font-style: Regular;
        font-size: 44px;
        line-height: 52px;
        letter-spacing: -1.8px;
        color: #F2F2F7;
        margin-top: 10px;
      }
      .all-lists {
        margin-top: 20px;
        .lists {
          display: flex;
          align-items: center;
          gap: 8px;
          margin-bottom: 10px;
          svg {
            flex-shrink: 0;
          }
          h5 {
            font-weight: 400;
            font-style: Regular;
            font-size: 16px;
            line-height: auto;
            letter-spacing: 0%;
            color: #D6DDDA;
          }
        }
      }
      h4 {
        font-weight: 400;
        font-style: Medium;
        font-size: 20px;
        line-height: auto;
        letter-spacing: -0.75px;
        color: #F2F2F7;
        margin-top: 30px;
      }
      p {
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        line-height: auto;
        letter-spacing: 0%;
        color: #D6DDDA;
        margin-top: 10px;
      }
    }
    @media (max-width: 1180px) {
      gap: 40px;
      .why-swenta-right-section {
        width: 65%;
      }
    }
    @media (max-width: 1024px) {
      flex-direction: column;
      align-items: start;
      gap: 20px;
      .why-swenta-left-section {
        width: 100%;
      }
      .why-swenta-right-section {
        width: 100%;
      }
    }
  }
}
@media (max-width: 768px) {
  .why-swenta-section {
    padding: 40px 16px;
    .why-swenta-left-right-section {
      .why-swenta-left-section {
        .left-content {
          padding-bottom: 40px;
          h6 {
            font-size: 12px;
          }
          h2 {
            font-size: 38px;
            line-height: 42px;
          }
        }
        .all-number-text {
          gap: 20px;
          margin-top: 20px;
          .number-text {
            h3 {
              font-size: 25px;
            }
            h5 {
              font-size: 12px;
            }
          }
        }
      }
      .why-swenta-right-section {
        .all-number-cards {
          .number-card {
            gap: 16px;
            padding: 20px 0px;
            h4 {
              font-size: 20px;
            }
            .card-details {
              h6 {
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }
}
